.marquee-container {
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 980px) {
    .marquee div {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 417px) {
    .marquee div {
        margin-right: 20px;
    }
}

#scrollable {
    overflow-x: scroll;
    /* Pastikan kontainer bisa di-scroll */
    scrollbar-width: none;
    /* Firefox: sembunyikan scrollbar */
    -ms-overflow-style: none;
    /* IE/Edge: sembunyikan scrollbar */
}

#scrollable::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera: sembunyikan scrollbar */
}