.marquee-container {
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 980px) {
    .marquee div {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 417px) {
    .marquee div {
        margin-right: 20px;
    }
}